---
layout: default
title: lolnein
language: en-GB-oed
---

<div id="fb-root"></div>

<div class="center">
	{% if site.posts.first.previous %}<a href="{{ site.posts.first.previous.id }}"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}
	{% if site.posts.first.next %}<a href="{{ site.posts.first.next.id }}"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
	<div style="margin: 0 auto; width: 50mm;">
		<a href="{{ site.posts.last.id }}"><img class="arrow" src="/first.svg" style="float: left" alt="First"/></a>
		<a href="{{ site.posts.first.id }}"><img class="arrow" src="/last.svg" style="float: right" alt="Last"/></a>
	</div>
</div>

<img class="center" src="/comics/{{ site.posts.first.comic }}.png"/>

<div class="center box">
	<div class="title">{{ site.posts.first.title }}</div>
	<div class="date">{{ site.posts.first.date | date_to_long_string }}</div>
	{{ site.posts.first.content }}

	<div class="social">
		<a href="http://flattr.com/thing/1127625/lolnein" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this"/></a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lolnein.com{{ site.posts.first.url }}/" data-count="none">Tweet</a><script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://lolnein.com{{ site.posts.first.url }}/"></div>
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>

		<div class="fb-like" data-send="false" data-layout="button_count" data-href="http://lolnein.com{{ site.posts.first.url }}/" data-width="450" data-show-faces="false"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
	</div>
</div>

<div class="center">
	{% if site.posts.first.previous %}<a href="{{ site.posts.first.previous.id }}"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}
	{% if site.posts.first.next %}<a href="{{ site.posts.first.next.id }}"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
</div>

<div id="disqus_thread" class="center"></div>
<script type="text/javascript">
	var disqus_shortname = 'lolnein';
	var disqus_identifier = '{{ site.posts.first.id }}';
	var disqus_url = 'http://lolnein.com{{ page.url }}';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>

