---
layout: default
title: lolnein
language: en-GB-oed
---

<div class="center">
{% if site.posts.last.previous %}	<a href="{{ site.posts.last.previous.id }}"><img class="arrow" src="/prev.svg" style="float: left" alt="Previous"/></a>{% endif %}
{% if site.posts.last.next %}	<a href="{{ site.posts.last.next.id }}"><img class="arrow" src="/next.svg" style="float: right" alt="Next"/></a>{% endif %}
</div>

<img class="center" src="/comics/{{ site.posts.last.comic }}.png"/>

<div class="center" id="box">
	<div class="title">{{ site.posts.last.title }}</div>
	{{ site.posts.last.content }}
</div>

<div class="center">
{% if site.posts.last.previous %}	<a href="{{ site.posts.last.previous.id }}"><img class="arrow" src="/prev.svg" style="float: left" alt="Previous"/></a>{% endif %}
{% if site.posts.last.next %}	<a href="{{ site.posts.last.next.id }}"><img class="arrow" src="/next.svg" style="float: right" alt="Next"/></a>{% endif %}
</div>
