@font-face {
	font-family: lolfont;
	font-style: normal;
	font-weight: 400;
	src: local('lolfont'), url('/lolfont.ttf') format('truetype')
}

* {
	color: inherit;
	text-decoration: inherit;

	padding: 0;
	margin: 0;
	margin-collapse: collapse;
}

html {
	color: #333;
	background: white;

	font: 400 11pt Lato, sans-serif;
	font-variant-numeric: oldstyle-nums proportional-nums diagonal-fractions;
	line-height: 1.25em;

	padding-bottom: 15mm;
}

body {
	margin: 37.5mm auto 0;
	width: 250mm;
}

#nav {
	width: 37.5mm;
	float: left;

	font: 400 32pt lolfont;
}

#nav object {
	margin-bottom: 16pt;
}

.navelm {
	border-right: 8pt solid #333333;

	text-align: right;
	text-transform: lowercase;

	padding-top: 4pt;
	padding-right: 10pt;
	margin: 4pt 0;
}

a:link, a:visited {
	color: #999999;
}

a:hover, a:active {
	color: #333333;
}

#main {
	text-align: justify;

	background: white;
	margin: 0 5mm;

	width: 157.5mm;
	float: left;

	min-height: 100%;
}

.center {
	display: block;
	margin: 5mm auto;
	width: 150mm;
}

#ext {
	visibility: hidden;
	background: #333333;
	width: 37.5mm;
	float: left;
	min-height: 90mm;
}

.arrow {
	height: 40pt;
}

.box {
	position: relative;
	color: white;
	background: #333333;
	padding: 4pt;
	min-height: 10mm;
}

.title {
	font: 400 24pt lolfont;
	text-transform: lowercase;
	border-bottom: 1px solid white;
}

.date {
	position: absolute;
	top: 4pt;
	right: 4pt;
}

#disqus_thread {
	margin-top: 37.5mm;
}

p, table {
	margin-top: 0.625em;
}

h1 {
	font: 400 32pt lolfont;
	text-transform: lowercase;
	border-bottom: 1px solid #333;
	margin-bottom: 0.3125em;
}

.social {
	margin-top: 1.25em;
}
