<script type="application/javascript" src="/random.js" defer="defer" async="async"></script>

<div id="fb-root"></div>

<div class="center robots-nocontent" style="text-align: center">
	{% if page.previous %}<a rel="prev" href="{{ page.previous.id }}/" title="Previous"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}

	<a href="javascript:random()" title="Random"><img class="arrow" src="/random.svg" alt="Random"/></a>

	{% if page.next %}<a rel="next" href="{{ page.next.id }}/" title="Next"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
</div>
