<div class="center box">
	<meta itemprop="url" content="http://lolnein.com{{ page.url }}/"/>
	<div class="title" itemprop="name" property="dc:title">{{ page.title }}</div>
	<div class="date" itemprop="datePublished" property="dc:date" content="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</div>
	<div itemprop="articleBody">
		{{ content }}
	</div>

	<div class="social robots-nocontent">
		<a class="FlattrButton" style="display: none" title="{{ page.title }}" data-flattr-uid="lolnein" data-flattr-description="{{ content | strip_html }}" data-flattr-category="{% if page.video %}video{% else %}images{% endif %}" data-flattr-button="compact" data-flattr-mode="auto" href="http://lolnein.com{{ page.url }}/">Flattr</a>
		<script type="text/javascript">(function() {
			var s = document.createElement('script');
			var t = document.getElementsByTagName('script')[0];

			s.type = 'text/javascript';
			s.async = true;
			s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

			t.parentNode.insertBefore(s, t);
			})();
		</script>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lolnein.com{{ page.url }}/" data-via="lolnein" data-count="none">Tweet</a><script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://lolnein.com{{ page.url }}/"></div>
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>

		<div class="fb-like" data-send="false" data-layout="button_count" data-href="http://lolnein.com{{ page.url }}/" data-width="450" data-show-faces="false"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
	</div>
</div>

<div class="center">
	{% if page.previous %}<a class="robots-nocontent" href="{{ page.previous.id }}/" title="Previous"><img class="arrow" src="/prev_dark.svg" style="float: left" alt="Previous"/></a>{% else %}<img class="arrow" src="/prev_light.svg" style="float: left" alt="Previous"/>{% endif %}
	{% if page.next %}<a class="robots-nocontent" href="{{ page.next.id }}/" title="Next"><img class="arrow" src="/next_dark.svg" style="float: right" alt="Next"/></a>{% else %}<img class="arrow" src ="/next_light.svg" style="float: right" alt="Next"/>{% endif %}
</div>

<div id="disqus_thread" class="center robots-nocontent"></div>
<script type="text/javascript">
	var disqus_shortname = 'lolnein';
	var disqus_identifier = '{{ page.id }}';
	var disqus_url = 'http://lolnein.com{{ page.url }}/';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
