---
layout: default
---

{% include head.html %}
<img property="og:image" class="center" src="/comics/{{ page.comic }}"{% if page.hover %} title="{{ page.hover }}"{% endif %} alt="{% if page.alt %}{{ page.alt }}{% else %}Comic titled ‘{{ page.title }}’{% endif %}"/>

<video property="og:image" class="center" autoplay loop>
  <source src="/comics/{{ page.comic }}.mp4" type="video/mp4" />
  <source src="/comics/{{ page.comic }}.webm" type="video/webm" />
  Your browser does not support the video tag.
</video>


{% include tail.html %}
